.LooserItem {
  display: flex;
  justify-content: space-between;
  color: yellow;
  font-size: 2rem;
  border: 0.5rem solid yellow;
  width: 70%;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}
.LooserItem span {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.LooserItem__fin {
  border-color: black;
  color: black;
}
